@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Montserrat:wght@300;600&family=Raleway&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h1, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	width: 100%;
	height: 100%;
	background-color:  rgb(14, 3, 19);
	background-image: url('../img/bg.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

ol {
	list-style-type: none;
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	max-width: 960px;
	width: 85%;
	margin: 0 auto;
	overflow-x: hidden;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

h1 {
	height: 120px;
	width: 100%;
	font-family: 'Righteous', sans-serif;
	font-weight: 600;
	font-size: 3.75rem;
	color: #BE9FDD;
	text-shadow: 1px 1px #261339;
	text-align: center;
	letter-spacing: 3px;
	line-height: 34px;
}
@supports (-webkit-text-stroke: 1px #BE9FDD) {
	h1 {
	  -webkit-text-stroke: 1px #BE9FDD;
	  -webkit-text-fill-color: #261339;
	}
  }

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #ccc;
	line-height: 30px;
	letter-spacing: 1.75px;
	font-size: 1rem;
	text-shadow: 1px 1px #111;
}

strong {
	font-weight: bold;
}

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	}
	::-webkit-scrollbar-thumb{
	background: linear-gradient(61deg, #261339 14%,#BE9FDD 64%);
	border: 0.2px outset #FFD700;
	border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(13deg, #BE9FDD 14%,#BE9FDD 64%);
	transition: all .3s ease-in-out;
	}
	::-webkit-scrollbar-track{
	background: #261339;
	border: 0.1px outset #FFD700;
	border-radius: 0px;
	box-shadow: inset 7px 10px 12px 0px #261339;
	}

/* HERO */

#dots {
	width: 100%;
	height: 100vh;
	z-index:1;
}

.hero {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	overflow-y: hidden;
}

#header-container {
	position: relative;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.hero h1 {
	line-height: 34px;
	font-size: 4rem;
	margin: 0 auto;
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	height: 120px;
	padding-top: 22px;
	color: #261339;
transition: 0s linear;
}

.hero p {
	line-height: 34px;
	font-size: 1.35rem;
	font-weight: 300;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 35%;
	height: 90px;
	padding-top: 5px;
	border-radius: 6px;
	text-shadow:
	3px  3px 2px #261339,
   -1px -1px 2px #261339,  
	1px -1px 2px #261339,
   -1px  1px 2px #261339,
	1px  1px 2px #261339;
	overflow: hidden;
}
@supports (-webkit-text-stroke: 1px black) {
	.hero p {
	  -webkit-text-stroke: 0px #fefefe;
	  -webkit-text-fill-color: #fefefe;
	}
  }

#box {
	background-color: #261339;
	padding: 4px;
}

.cta2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: inherit;
	margin: auto;
	margin-top: 32%;
	z-index: 999;
	background-color: #BE9FDD;
	border: 1px solid #FFD700;
	text-align: center;
	text-decoration: none;
	width: 180px;
	height: 60px;
	border-radius: 6px;
	transition: all .5s ease-in-out;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
	overflow-y: hidden;
}

.cta2:hover {
	transform: scale(1.01);
	transition: all .3s ease-in-out;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
	background-color: #261339;
	border: 1.5px solid #FFD700;
}

.cta2 a {
	color: #261339;
	font-family: 'Righteous', sans-serif;
	font-size: 1.35rem;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	padding-top: 20px;
	overflow-y: hidden;
}

.cta2 a:hover {
	color: #BE9FDD;
}

/*BUTTON*/

.cta {
	margin: 0 auto;
	z-index: 555;
	float: right;
	display: block;
	position: fixed;
	top: 12px;
	right: 6.5%;
	background-color: #BE9FDD;
	border: 1px solid #FFD700;
	text-align: center;
	text-decoration: none;
	width: 100px;
	height: 35px;
	border-radius: 6px;
	transform: scale(1);
	transition: all .5s ease-in-out;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
	overflow-y: hidden;
}

.cta:hover {
	transform: scale(1.01);
	transition: all .3s ease-in-out;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
	background-color: #261339;
	border: 1.5px solid #FFD700;
}

.cta a {
	color: #261339;
	font-family: 'Righteous', sans-serif;
	font-size: .8rem;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	padding-top: 11px;
	overflow-y: hidden;
}

.cta a:hover {
	color: #BE9FDD;
}

.litepaper {
	font-family: 'Righteous', sans-serif;
	font-size: .8rem;
	margin: 0 auto;
	z-index: 555;
	float: right;
	display: block;
	position: absolute;
	top: 38%;
	right: 12%;
	text-align: center;
	text-decoration: none;
	width: 111px;
	height: 45px;
}

.litepaper a {
	color: #261339;
}

.litepaper a:hover {
	color: #FFD700;
}

.LP {
	display: none;
}

/* NAV */

.logo {
	position: fixed;
	float: left;
	margin: 9px 36px;
	color: #ccc;
	font-weight: bold;
	font-size: 24px;
	z-index: 999;
	overflow: hidden;
}

.logo:hover {
	transition: .3s all ease-in-out;
	transform: scale(1.01);
}

nav {
	position: fixed;
	width: 100%;
	z-index: 998;
	overflow: hidden;
	margin: 0 auto;
}

nav ul {
	list-style: none;
	background-color: rgba(214, 214, 214, 0.2);
	overflow: hidden;
	color: #ccc;
	padding: 0;
	padding-left: 3%;
	text-align: center;
	margin: 0 auto;
	transition: 1s;
	overflow: hidden;
}

nav.black ul {
	background-color: #BE9FDD;
	transition: .3s all ease-in-out;
	transform: scale(1.015);
	overflow: hidden;
	color: #261339;
	border-bottom: 1px solid #FFD700;
}

nav.black ul a {
	color: #261339;
}

nav ul li {
	display: inline-block;
	padding: 20px;
	overflow-y: hidden;
}

nav ul li a {
	text-decoration: none;
	color: #f2e4ff;
	font-family: 'Righteous', sans-serif;
	font-weight: lighter;
	font-size: 1.25rem;
	letter-spacing: 1.75px;
	overflow: hidden;
}

nav ul li a:hover {
	text-decoration: underline;
	transition: .2s all ease-in-out;
	color: #fad149;
}

/*Menu icon*/

.menu {
	overflow-y: hidden;
}

.menu-icon {
	width: 100%;
	background-color: #BE9FDD;
	text-align: right;
	box-sizing: border-box;
	padding: 2%;
	cursor: pointer;
	color: #f2e4ff;
	display: none;
	overflow: hidden;
}

.menu-icon:hover {
	transition: .4s all ease-in-out;
	color: #FFD700;
}

/* .menu-icon:hover {} */

/* ABOUT */

.bgarea {
	background-color: #261339;
	background-image: url('../img/bg.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	overflow-x: hidden;
	width: 100%;
	height: 600px;
	display: block;
	margin: 0 auto;
	border-radius: 6px;
	box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.5);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}
a {
	color: #BE9FDD;
	text-decoration: none;
	letter-spacing: 1.5px;
}

#info a:hover {
	color: #fad149
}

.about {
	margin: 7.5% auto;
	padding: 0;
	width: 100%;
	overflow-y: hidden;
}

.about img {
	float: right;
	width: 420px;
	margin: 6% 2.5% .5% auto;
	border-radius: 6px;
}

.about p {
	margin: 0 auto;
	line-height: 24px;
	float: left;
	width: 375px;
	font-weight: 300;
	font-size: 1rem;
	color: #f2e4ff;
}

/* FEATURES */

.hidden {
	opacity: 0;
}

.container1 {
	margin: 0 auto;
}

.card-container {
	display: flex;
	justify-content: center;
}

.card {
	border: 1px solid #FFD700;
	padding: 20px;
	width: 290px;
	height: 350px;
	transition: all 0.3s;
	margin: .5%;
	overflow: hidden;
}

.card:hover {
	position: relative;
	z-index: 989;
	transition: .4s all ease-in-out;
	box-shadow:  5px 7px 7px rgba(213, 183, 238, 0.25);
	-webkit-filter: brightness(120%);
	transform: scale(1.02);
}

#card-1 {
	border-radius: 10px;
	overflow: hidden;
}

#card-2 {
	border-radius: 10px;
	overflow: hidden;
}

#card-3 {
	border-radius: 10px;
	overflow: hidden;
}

.card__img {
	width: 128px;
	margin: 0 auto;
	overflow: hidden;
}

.card__img i {
	font-size: 4rem;
	display: block;
	position: relative;
	color: #FFD700;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20%;
	padding-top: 15%;
}

.card__heading {
	font-family: 'Righteous', sans-serif;
	font-size: 2rem;
	text-align: center;
	color: 	#BE9FDD;
	margin: 0 auto;
	overflow: hidden;
}

.card__description {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	text-align: center;
	line-height: 26px;
	letter-spacing: 1.85px;
	margin: 0 auto;
	padding-top: 10%;	
	overflow: hidden;
}

.card__description a {
	color: #f2e4ff;
}

.flex-container {
	margin: 50px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}

/* INFO */

.info {
	margin: 5% auto;
	padding: 0;
	width: 100%;
	overflow-y: hidden;
}

.info img {
	float: left;
	width: 50%;
	margin: 0 auto;
	overflow-y: hidden;
}

.info p {
	margin: 0 auto;
	line-height: 32px;
	float: right;
	width: 50%;
	font-weight: 300;
	font-size: 1.75rem;
	color: #f2e4ff;
	padding-top: 20%;
	overflow-y: hidden;
}

.info2 {
	background-color: #261339;
	background-image: url('../img/bg.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	overflow-x: hidden;
}

.info2 img {
	float: right;
	width: 50%;
	margin: 0 auto;
	overflow-y: hidden;
}

.info2 p {
	margin: 0 auto;
	line-height: 32px;
	float: left;
	width: 50%;
	font-weight: 300;
	font-size: 1.75rem;
	color: #f2e4ff;
	padding-top: 15%;
	padding-bottom: 15%;
	overflow-y: hidden;
}

svg {
	margin: 5% auto 0 auto;
	display: block;
	max-width: 95%;
}

/* SOCIAL */

#soc {
	margin-top: 10%;
}

#contact {
	display: flex;
	justify-content: center;
	align-items: center;
	--color-bright: #BE9FDD;
	background: transparent;
	margin: 0 auto;
	margin-top: -100px;
	margin-bottom: 100px;
	overflow: visible;
}
#contact:hover {
	cursor: crosshair;
	overflow: visible;
}
#contact .links {
	display: flex;
	min-width: 375px;
	min-height: 250px;
	align-items: center;
	justify-content: space-evenly;
	overflow: hidden;
}
#contact a {
	text-decoration: none;
	color: var(--color-bright);
	font-size: 3rem;
	overflow: visible;
}
#contact .links a {
	display: block;
	position: relative;
	overflow: visible;
}
#contact .links a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	transition: all .3s;
	overflow: visible;
}
#contact .links a:hover::after {
	transform: rotate(35deg) skew(-20deg);
	--transformed-box-diagonal-length: 164%;
	width: var(--transformed-box-diagonal-length);
	left: calc( (100% - var(--transformed-box-diagonal-length)) / 2);
	overflow: visible;
}
#contact .links a div {
	position: relative;
	display: block;
	width: 75px;
	height: 75px;
	transition: ease-in-out .3s;
	overflow: visible;
}
#contact .links a:hover div {
	transform: rotate(-35deg) skew(20deg);
	overflow: visible;
}
.links a span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	transition-duration: 0.5s;
	border: 1px solid var(--color-bright);
	border-color: var(--color-bright);
	border-radius: 6px;
	overflow: visible;

}
.links a span:nth-child(5) {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-color: var(--color-bright);
	overflow: visible;
}
.links a:hover span:nth-child(5) {
	transform: translate(20px, -20px);
	overflow: visible;
	opacity: 1;
}
.links a:hover span:nth-child(4) {
	transform: translate(15px, -15px);
	overflow: visible;
	opacity: .8;
}
.links a:hover span:nth-child(3) {
	transform: translate(10px, -10px);
	overflow: visible;
	opacity: .6;
}
.links a:hover span:nth-child(2) {
	transform: translate(5px, -5px);
	overflow: visible;
	opacity: .4;
}
.links a:hover span:nth-child(1) {
	overflow: visible;
	opacity: .2;
}
/* FOOTER */

footer {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}

#info {
	display: block;
	text-align: center;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-decoration: none;
	margin: 0 auto;
	z-index: 900;
	color: #BE9FDD;
}

a:active {
	color: #BE9FDD;
	text-decoration: none;
}

.copy {
	color: #ccc;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	height: 40px;
	padding-top: 15px;
	line-height: 24px;
	background-color: #261339;
	display: inline-block;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

#italic {
	font-style: italic;
}

.ftrbg {
	margin: 0 auto;
	max-width: 350px;
	height: 80px;
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
	margin-bottom: 5;
	text-align: center;
	font-size: 1rem;
	padding-bottom: 5px;
}

.ftrbg a {
	font-family: 'Montserrat', sans-serif;
}

.ftrbg img {
	width: 70%;
}

.ftrbg img:hover {
	transition: .4s all ease-in-out;
	-webkit-filter: brightness(120%);
}

/* ADJUST */

#abt {
	padding-top: 260px;
	overflow: hidden;
}

#feat, #soc {
	padding-top: 155px;
	overflow: hidden;
}

.vcenter {
	padding: 7.5% 0;
}

.center {
	display: block;
	margin: 0 auto;
}

.responsive {
	width: 100%;
	height: auto;
}

.adj {
	padding-bottom: 1px;
}

.pro {
	margin: 1.5% auto;
}

/* RESPONSIVE QUERIES */


@media only screen and (max-width: 2500px) {
	.cta2 {
		margin-top: 60vh;
	}
	.hero p {
		height: 60px;
	}
}

@media only screen and (max-width: 1974px) {
	#header-container {
		height: 100vh;
	}
	.hero p {
		width: 50%;
		height: 80px;
	}
}

@media only screen and (max-width: 1770px) {
	.litepaper {
		margin-right: 1.5%;
	}
	.hero p {
		width: 50%;
	}
}

@media only screen and (max-width: 1500px) {
	.bgarea {
		width: 100%;
	}
	.hero p {
		width: 50%;
	}
	.litepaper {
		margin-right: 3.5%;
	}
}

@media only screen and (max-width: 1380px) {
	.hero p {
		width: 60%;
	}
}

@media only screen and (max-width: 1200px) {
	.bgarea {
		width: 100%;
	}
	.litepaper {
		margin-right: 5%;
	}
	.hero p {
		width: 70%;
	}
}

@media only screen and (max-width: 1100px) {
	nav {
		top: 0px;
		overflow: hidden;
	}
	.logo {
		position: fixed;
		top: 0;
		left: -30px;
		margin: 3.5% auto;
	}
	.cta {
		margin-top: 2%;
		margin-right: 9%;
	}
	nav ul {
		max-height: 0px;
		background: #BE9FDD;
	}
	nav.black ul {
		background: rgba(190,159,221, 0.9);
	}
	.showing {
		max-height: 20em;
	}
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0px;
		text-align: center;
	}
	.menu-icon {
		display: block;
		font-size: 30px;
		padding-right: 25px;
		padding-top: 20px;
	}
	.menu {
		overflow: hidden;
	}
	.hero p {
		width: 80%;
	}
	.bgarea {
		width: 100%;
	}
	.about img {
		width: 50%;
		margin: 0 auto;
	}
	.about p {
		width: 45%;
		margin: 0 auto;
	}
	.info img {
		width: 50%;
		margin: 0 auto;
	}
	.info p {
		width: 45%;
		margin: 0 auto;
	}
	.info2 img {
		width: 50%;
		margin: 0 auto;
	}
	.info2 p {
		width: 45%;
		margin: 0 auto;
	}
	.litepaper {
		display: none;
	}
	.lp {
		display: block;
	}
}

@media only screen and (max-width: 1024px) {
	.bgarea {
		width: 100%;
	}
	.about p {
		width: 55%;
		margin: 0 auto;
		padding-top: 10%;
	}
	.about img {
		width: 45%;
		margin: 4% auto;
	}
	.info p {
		width: 55%;
		margin: 0 auto;
	}
	.info img {
		width: 45%;
		margin: 2% auto;
	}
	.info2 p {
		width: 55%;
		margin: 0 auto;
	}
	.info2 img {
		width: 45%;
		margin: 2% auto;
	}
	.cta {
		top: 1%;
	}
	.litepaper {
		display: none;
	}
	.LP {
		display: block;
	}
	#header-container {
		height: 80vh;
	}
}

@media only screen and (max-width: 1000px) {
	.cta {
		margin-top: 2%;
	}
}

@media only screen and (max-width: 860px) {
	h1 {
		font-size: 3rem;
	}
	.bgarea {
		width: 100%;
		height: 1200px;
		overflow: hidden;
	}
	.about img {
		width: 100%;
		margin-bottom: 5%;
	}
	.about p {
		width: 100%;
		margin: 10% auto;
		text-align: center;
	}
	.info img {
		width: 100%;
		margin-right: 20px;
		margin-bottom: 5%;
	}
	.info p {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.info2 img {
		width: 100%;
		margin-right: 20px;
		margin-bottom: 5%;
	}
	.info2 p {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	.hero p {
		width: 90%;
	}
	.cta2 {
		margin-top: 65%;
	}
}

@media only screen and (max-width: 800px) {
	.main-container, .heading-container, .flex-container {
		margin: 50px auto;
	}
	.main-container {
		width: 90%;
	}
	.heading-container, .flex-container, .card-container {
		width: 100%;
	}
	.card {
		width: 80%;
	}
	.card-container {
		flex-wrap: wrap;
	}
	.card {
		margin: 1.5%;
	}
	.hero p {
		width: 90%;
		font-size: 1.25rem;
	}
	.cta {
		top: 1%;
	}
	.bgarea {
		width: 100%;
		height: 1200px;
	}
	.about img {
		max-width: 100%;
	}
	.about p {
		width: 90%;
		margin: 10% auto;
		text-align: center;
	}
	.info img {
		width: 100%;
	}
	.info p {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.info2 img {
		width: 100%;
	}
	.info2 p {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.cta2 {
		margin-top: 70%;
	}
}

@media only screen and (max-width: 768px) {
	#header-container {
		height: 100vh;
	}
	h1 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 3rem;
		line-height: 50px;
	}
	.about {
		float: none;
		line-height: 26px;
	}
	.bgarea {
		width: 100%;
		height: 1200px;
	}
	.bgarea img {
		float: none;
		max-width: 350px;
		margin: 1.5% auto;
	}
	.about p {
		float: none;
		padding: 0;
		line-height: 26px;
		min-width: 90%;
		text-align: center;
		padding-top: 10%;
	}
	.vcenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.about, #feat, #soc {
		margin-top: 100px;
	}
	.about img {
		min-width: 85%;
	}
	.info {
		float: none;
		line-height: 26px;
	}
	.info p {
		float: none;
		line-height: 26px;
		min-width: 90%;
	}
	.info img {
		min-width: 85%;
	}
	.info2 {
		float: none;
	}
	.info2 p {
		float: none;
		min-width: 90%;
	}
	.info2 img {
		min-width: 85%;
	}
	#header-container {
		width: 100vw;
		height: 100vh;
		margin: 0 auto;
	}
	.hero {
		background-size: cover;
	}
	.hero p {
		margin-top: 420px;
		width: 90%;
		height: 90px;
	}
	.cta {
		right: 6.5%;
		top: 1.2%;
	}
	.cta2 {
		margin-top: 75%;
	}
}

@media only screen and (max-width:640px) {
	.bgarea {
		width: 100%;
	}
	nav {
		float: right;
		padding: 0;
		font-size: 2rem;
	}
	nav ul li a {
		padding: 16px 0 20px 0;
	}
	.about p {
		margin-top: 25%;
		padding: 0;
		width: 90%;
		font-size: 1rem;
	}
	.about {
		margin: 2.5% auto;
		padding: 0;
	}
	.info p {
		margin: 2.5% auto;
		width: 90%;
		font-size: 1.3rem;
	}
	.info {
		margin: 2.5% auto;
		padding: 0;
	}
	.info2 p {
		margin: 2.5% auto;
		width: 90%;
		font-size: 1.3rem;
	}
	.info2 {
		margin: 2.5% auto;
		padding: 0;
	}
	.cta {
		margin-right: 60px;
		margin-top: 4px;
	}
	nav {
		top: -10px;
	}
	.logo {
		transform: scale(1);
		display: block;
		margin: 0 auto;
		margin-left: -20px;
		padding-top: 14px;
		text-align: left;
	}
	h1 {
		margin: 0 auto;
		padding: 95px 0;
		line-height: 50px;
		font-size: 3.5rem;
	}
	#feat, #soc {
		padding-top: 150px;
		padding-bottom: 55px;
	}
	.copy {
		margin-top: 100px;
	}
	.hero {
		background-size: cover;
	}
	#header-container {
		position: relative;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 80vh;
		overflow: hidden;
	}
	.hero p {
		width: 90%;
		overflow: hidden;
		height: 100%;
		font-size: 1rem;
		top: 385px;
		line-height: 20px;
	}
	.hero h1 {
		width: 80%;
		overflow: hidden;
		height: 100%;
		top: 120px;
		font-size: 5rem;
	}
	.bar {
		top: 130px;
		height: 140px;
	}
	.cta2 {
		margin-top: 50%;
	}
}
@media only screen and (max-width: 550px) {
	.hero p {
		margin-top: 130px;
		overflow: hidden;
		width: 90%;
		height: 80px;
		font-size: .95rem;
		line-height: 24px;;
	}
	.hero h1 {
		width: 80%;
		height: 100%;
		font-size: 5rem;
		line-height: 80px;
		margin-top: 35%;
	}
	.cta2 {
		top: 35%;
	}
}
@media only screen and (max-width: 480px) {
	.bgarea {
		width: 100%;
		height: 1200px;
		overflow: hidden;
	}
	.about p {
		margin-top: 5%;
	}
	nav {
		width: 100%;
	}
	h1 {
		line-height: 50px;
	}
	#header-container {
		height: 100%;
	}
	.hero p {
		margin: 0 auto;
		overflow: hidden;
		height: 80px;
		font-size: .8rem;
	}
	.hero h1 {
		width: 80%;
		height: auto;
		font-size: 3.75rem;
		line-height: 60px;
		margin-top: 20%;
	}
	.cta2 {
		top: 300px;
	}
	.about p {
		padding-top: 200px;
	}
}

@media only screen and (max-width: 375px) {
	.bgarea {
		width: 100%;
		height: 1100px;
	}
	.about img {
		float: none;
		width: 90%;
		margin: 0 auto;
		padding: 0;
		overflow-x: hidden;
	}
	.about {
		margin: 0 auto;
		padding: 0;
	}
	.about p {
		margin: 0 auto;
		padding-top: 125px;
		width: 95%;
		text-align: left;;
	}
	.info {
		margin: 0 auto;
		padding: 0;
	}
	.info p {
		margin: 0 auto;
		padding: 0;
		width: 90%;
	}
	.info2 {
		margin: 0 auto;
		padding: 0;
	}
	.info2 p {
		margin: 0 auto;
		padding: 0;
		width: 90%;
	}
	.vcenter {
		margin: 0 auto;
		padding: 0;
	}
	h1 {
		font-size: 2.5rem;
	}
	#header-container {
		height: 100%;
	}
	#dots {
		overflow: hidden;
	}
	.hero p {
		margin-top: 0;
		overflow: hidden;
		height: 80px;
		font-size: .9rem;
	}
	.hero h1 {
		width: 80%;
		height: 100%;
		font-size: 3.5rem;
		line-height: 60px;
		margin-top: 80px;
	}
	.cta2 {
		top: 320px;
	}
	.cta {
		margin-top: 2.5%;
	}
}
@media only screen and (max-width: 320px) {
	.hero p {
		margin-top: -100px;
		padding: 0;
		overflow: hidden;
		height: 80px;
		font-size: .9rem;
	}
	.hero h1 {
		width: 80%;
		height: 100%;
		font-size: 2.5rem;
		line-height: 45px;
		margin-top: 30px;
	}
	.cta2 {
		top: 250px;
	}
	.cta {
		display: none;
	}
}